




@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Light.eot);
    src:url(/fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Light.woff) format("woff"),
    	url(/fonts/ProximaNova-Light.ttf) format("truetype");
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Reg-webfont.eot);
    src:url(/fonts/ProximaNova-Reg-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Reg-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Reg-webfont.ttf) format("truetype");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Sbold-webfont.eot);
    src:url(/fonts/ProximaNova-Sbold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Sbold-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Sbold-webfont.ttf) format("truetype");
    font-weight:500;
    font-style:normal
}

@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Bold-webfont.eot);
    src:url(/fonts/ProximaNova-Bold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Bold-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Bold-webfont.ttf) format("truetype");
    font-weight:700;
    font-style:normal
}

@font-face{
    font-family:'Proxima Nova W01';
    src:url(/fonts/ProximaNova-Xbold-webfont.eot);
    src:url(/fonts/ProximaNova-Xbold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(/fonts/ProximaNova-Xbold-webfont.woff) format("woff"),
    	url(/fonts/ProximaNova-Xbold-webfont.ttf) format("truetype");
    font-weight:900;
    font-style:normal
}



@font-face{
    font-family:'Oswald';
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.eot);
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.eot?#iefix) format("embedded-opentype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.woff) format("woff"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.ttf) format("truetype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-light-webfont.svg#oswaldlight) format("svg");
    font-weight:100;
    font-style:normal
}
@font-face{
    font-family:'Oswald';
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.eot);
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.eot?#iefix) format("embedded-opentype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.woff) format("woff"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.ttf) format("truetype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-bold-webfont.svg#oswaldbold) format("svg");
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:'Oswald';
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.eot);
    src:url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.eot?#iefix) format("embedded-opentype"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.woff) format("woff"),
    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.ttf) format("truetype"),

    	url(https://www.ny.gov/sites/all/themes/ny_gov/fonts/oswald-regular-webfont.svg#oswaldbook) format("svg");
    font-weight:400;
    font-style:normal
}